.bg-custom {
    background: linear-gradient(
      to top, 
      hsl(var(--foreground)), 
      hsl(var(--secondary))
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}